{{#if news}}
<img src="http://localhost:3000{{news.cover}}" style="width: 200px" class="card-img-top" alt="{{news.cover}}" />
<h1>{{news.title}}</h1>
<div>{{news.description}}</div>
<div class="text-muted">Автор: {{news.user.firstName}}</div>

<form action="">
  <button type="button" class="btn btn-primary" onclick='sendForm()'>Оставить комментарий</button>
</form>

{{#if news.comments}}
<h2>Список комментариев</h2>
{{#each news.comments}}
<div class="row">
  <div class="col-lg-1">
    <img src={{#if this.user.avatar}} "http://localhost:3000{{this.user.avatar}}" {{else}}
      https://hostenko.com/wpcafe/wp-content/uploads/rndavatar.png {{/if}} style="width: 75px; height: 75px;"
      class="rounded-lg mb-2" />
  </div>
  <div class="col-lg-8">
    <div>Автор: {{this.user.firstName}}</div>
    <div>{{this.message}}</div>
  </div>
</div>
{{/each}}
{{else}}
<h4>Комментариев нет...</h4>
{{/if}}
{{else}}
<h1>Список новостей пуст!</h1>
{{/if}}

<script>
  function sendForm() {
    var data = new FormData($('form')[0]);
    const idNews = window.location.pathname.split('/').reverse()[0]
    $.ajax({
      url: '/comments/api/' + idNews,
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      method: 'POST',
      success: function () {
        window.location.reload()
      }
    });
  }
</script>